@model IEnumerable<DbAccess.Address_Master>

@{
    ViewBag.Title = "Index Address";
}

<h2>Address</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, htmlAttributes: new { @class = "btn btn-primary btn-lg" })
</p>
<div>
    <div class="table table-responsive">
        <table id="SpaLst">
            <thead>
                <tr>
                    <th>Address Type</th>
                    <th>Address Sub Type</th>
                    <th>Created Date</th>
                    <th>Updated Date</th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        var theGrid = null;
        $(document).ready(function () {
            theGrid = $("#SpaLst").DataTable({
                "processing": true,
                "serverSide": true,
                "ordering": true,
                "responsive": false,
                "autoWidth": false,
                "ajax": { "url": '@Url.Action("GetJsonList", "Address_Master")', "type": "post", "datatype": "json" },
                "columnDefs": [
                    {
                        "targets": 0,
                        "visible": true,
                        "searchable": true,
                        "class": "never"
                    },
                    {
                        "render": function (data, type, row) {
                            return '<a href="@Url.Action("Edit", "Address_Master")/' + row.id + '">Edit</a> | <a href="@Url.Action("Details", "Address_Master")/' + row.id + '">Details</a> | <a href="@Url.Action("Delete", "Address_Master")/' + row.id + '">Delete</a>';
                        },
                        "sortable": false,
                        "targets": 4
                    }
                ],
                "columns": [
                       { "data": "Address_Type", "autoWidth": true },
                       { "data": "Address_Sub_Type", "autoWidth": true },
                       { "data": "created_at", "autoWidth": true },
                       { "data": "updated_at", "autoWidth": true }
                ]@*,
                dom: 'Blfrtip',
                buttons: [
                    {
                        text: 'Add new',
                        action: function (e, dt, node, config)
                        {
                            //This will send the page to the location specified
                            window.location.href = '@Url.Action("Create", "Client_Group_Master")';
                        },
                        className: 'btn btn-primary btn-lg'
                    }
                ]*@
            });
        });
    </script>
}